#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}




.logo {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo img {
  width: 52px;
  height: 60px;
}

.logo h1 {
  color: #FFF;
  text-align: center;
  font-family: Righteous;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}