#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: grey;
}

.containerApp {
  width: 375px;
  height: 667px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FB6B6B;
}

.logo {

}